body {
    font-family: Montserrat, Arial, sans-serif;
	margin: 0;
}

.promo {
    background: -webkit-linear-gradient(right, #FFF 62%, #000000 38%);
    background: -o-linear-gradient(right, #FFF 62%, #000000 38%);
    background: linear-gradient(to left, #FFF 62%, #000000 38%);
}

.title {
	font: normal bold 80px/82px Montserrat;
}

.description {
	font: normal 15px/21px Montserrat;
}

.button_desc,
.link {
	font: normal 500 13px Montserrat;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.button {
	background: #FFF;
	height: 44px;
	width: 203px;
}

/*Header*/

.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header__logo {
	flex: .5;
}

.header__lang {
	flex: 1;
    display: block;	
}

.header__lang-ru {
	font: 20px Montserrat;
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
}

.header__lang-ru::after {
	content: "";
	display: inline-block;
	position: relative;
	width: 0.4em;
    height: 0.4em;
    border-right: 1.5px solid #FFF;
    border-top: 1.5px solid #FFF;
    transform: rotate(135deg);
    margin-left: 10px;
}

.burger {
	position: relative;
	width: 92px;
	height: 92px;
	background: #E5E5E5;
}

.burger-line,
.burger-line::before{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	width: 40px;
    height: 4px;
	background: #000;
}

.burger-line::before {
    content: '';
	transform: translateY(-15px);
 }

@media (min-width: 767px) {
	.header__logo-pic logo_mob {
		display: none;
	}
}

@media (max-width: 768px) {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 85px;
		width: 100%;
		background: #FFF;
	}
	
	.header__logo {
		margin-left: 30px;
		margin-top: 30px;
	}
	
	.header__logo-pic logo,
	.header__lang {
		display: none;
	}
	
	.burger {
		position: relative;
		width: 85px;
		height: 85px;
	}
	
}

/*First section*/

.promo__wrap {
	display: grid;
	grid-template-columns: 15% auto 25px auto 20%;
	grid-template-rows: 80px auto auto auto 80px;
}

.promo__img {
	grid-column: 2;
	grid-row: 2/5;
}

.promo__title {
	grid-column: 4;
	grid-row: 2;
	margin: 0;
	padding-top: 45px;
	
}

.promo__description {
	grid-column: 4;
	grid-row: 3;
	margin: 0;
}

.promo__link {
	grid-column: 4;
	grid-row: 4;
}

.promo__link button {
	border: 1.5px solid #000;
	margin-right: 30px;
}

.link_offers::after {
	content: "";
	display: inline;
	position: absolute;
	margin-left: 10px;
	margin-top: 15px;
	height: 12px;
	width: 44px;
	background-image: url(../img/Vector%202.1.svg);
}

@media (min-width: 767px) {
	.promo__img-mob {
		display: none;
	}
}

@media (max-width: 768px) {
	.promo__wrap {
		display: block;
		width: 100%;
		
	}
	.promo__img-mob {
		width: 100%;
		height: 100%;
		object-fit: cover;
		
	}
	
	.promo__img-main {
		display: none;
	}
	
	.promo__title {
		z-index: 10;
        padding-left: 20px;
		margin-top: -125px;
    	font-weight: bold;
    	line-height: 51px;
    	font: normal bold 50px/51px Montserrat;
	}
	
	.title_newcollection::after {
		content: "";
		display: block;
		position: relative;
		width: 20px;
		height: 20px;
		border-right: 3px solid #000;
        border-top: 3px solid #000;
    	transform: rotate(135deg);
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
	}
	
	.promo__description,
	.promo__link {
		display: none;
	}
}
/*Footer*/

.footer {
	display: flex;
	height: 84px;
	align-items: flex-start;
}

.footer__social {
	flex: 1;
	margin-left: 52px;
}

.footer_social_item {
	margin-right: 5px;
}

.footer__scroll {
	flex: 1;
}

.scroll {
	width: 27px;
	height: 46px;
	border: 1.5px solid #000;
	border-radius: 40px;
	cursor: pointer;
}

.scroll_line {
	display: block;
	position: absolute;
	width: 9px;
    height: 3px;
	background: #000;
	margin-top: 10px;
	margin-left: 9px;
	transform: rotate(90deg);
}

@media (max-width: 768px) {
	.footer {
		display: none;
	}
	




