/*Common classes*/
body {
    margin: 0 auto;
    font-family: Montserrat, Arial, sans-serif;
}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #000;
    opacity: .5;
}

.button,
.link {
    text-transform: uppercase;
	text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
	color: #000;
}

.button {
    background: none;
    text-align: center;
    line-height: 3.5em;
	border: 1.5px solid #000;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
    color: #000;
}

.subtitle {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: .07em;
    color: #000;
    opacity: .5;
}

.price {
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 56px;
}

.number {
	border: 1.5px solid #000;
	width: 100px;
	height: 29px;
	text-align: center;
	padding-top: 15px;
	margin: 0;
}

@media (max-width: 992px) {
    .description {
        line-height: 13px;
        font-size: 13px;
        font-weight: normal;
		opacity: .5;
    }

    .title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
    }

    .subtitle {
        font-size: 10px;
        line-height: 10px;
    }

    .price {
        font-size: 20px;
        line-height: 28px;
    }
}

.promo {
    background: -webkit-linear-gradient(right, #FFF 62%, #000000 38%);
    background: -o-linear-gradient(right, #FFF 62%, #000000 38%);
    background: linear-gradient(to left, #FFF 62%, #000000 38%);
    height: 900px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/*Header*/

.header {
	display: flex;
	align-items: center;
}

.header__logo {
	flex: 0.5;
}

.header__lang {
	flex: 1;
    display: block;	
}

.header__lang-ru {
	font: 20px Montserrat;
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
}

.header__lang-ru::after {
	content: "";
	display: inline-block;
	position: relative;
	width: 0.4em;
    height: 0.4em;
    border-right: 1.5px solid #FFF;
    border-top: 1.5px solid #FFF;
    transform: rotate(135deg);
    margin-left: 10px;
}

.burger {
	position: relative;
	width: 92px;
	height: 92px;
	background: #E5E5E5;
}

.burger-line,
.burger-line::before{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	width: 40px;
    height: 4px;
	background: #000;
}

.burger-line::before {
    content: '';
	transform: translateY(-15px);
 }

@media (min-width: 992px) {
	.header__logo-pic logo_mob {
		display: none;
	}
}

@media (max-width: 992px) {
	.header {
		display: flex;
		justify-content:space-between;
		height: 71px;
		width: 100%;
		background: #FFF;
	}

	.header__logo {
		flex: 1;
		padding-left: 30px;
	}
	
	.header__logo-pic logo,
	.header__lang {
		display: none;
	}
	
	.burger {
		position: relative;
		align-self: flex-end;
		width: 70px;
		height: 70px;
	}
}

	
/*First section*/

.promo__container {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    max-width: 1400px;
}

.promo__img {
  margin: 0 20px 0;
}

.promo__img-main{
	width: 100%;
    height: auto;
}

.promo__box {
  width: 500px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: 0 20px 0;
}

.promo__title {
	display: flex;
	align-items: flex-end;
    margin-bottom: 25px;
}

.title_newcollection {
	font-size: 80px;
	line-height: 82px;
	margin: 0;
}

.promo__description {
	display: flex;
	align-items: center;
    margin-bottom: 25px;
}

.description_text {
	margin: 0;
}

.promo__link button {
    width: 203px;
    margin-right: 20px;
}

.button_desc {
	margin: 0;
}

.link_offers::after {
	content: "";
	display: inline;
	position: absolute;
	margin-left: 10px;
	margin-top: 15px;
	height: 12px;
	width: 44px;
	background-image: url(../img/Vector%202.1.svg);
}

@media (max-width: 992px) {
	.promo {
		background: #fff;
	}
	
	.promo__container {
		background-image: url(../img/promo-mob.png);
		background-repeat: no-repeat;
		background-size: cover;
        background-position: 30% 30%;
    	width: 100%;
        height: 900px;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
	}
    
    .promo__box {
        width: 70%;
    }
		
	.promo__title {
		margin: 0 0 30px;
        font: normal bold 50px Montserrat;
        align-self: center;
      
    }
    .title_newcollection::after {
		content: "";
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		border-right: 3px solid #000;
        border-top: 3px solid #000;
    	transform: rotate(135deg);
		margin-left: 230px;
		margin-top: 20px;
		cursor: pointer;
	}
	
    .promo__img,  
	.promo__description,
	.promo__link {
		display: none;
	}
}
  
 /* @media (max-width: 470px) {
    
       .title_newcollection::after {
		content: "";
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		border-right: 3px solid #000;
        border-top: 3px solid #000;
    	transform: rotate(135deg);
		margin-left: 120px;
		margin-top: 20px;
		cursor: pointer;
		
	}
	
  }*/
	

/*Footer*/

.footer {
	display: flex;
	height: 84px;
	align-items: flex-start;
}

.footer__social {
	flex: 1;
	margin-left: 52px;
}

.footer_social_item {
	margin-right: 5px;
}

.footer__scroll {
	flex: 1;
}

.scroll {
	width: 27px;
	height: 46px;
	border: 1.5px solid #000;
	border-radius: 40px;
	cursor: pointer;
}

.scroll_line {
	display: block;
	position: absolute;
	width: 9px;
    height: 3px;
	background: #000;
	margin-top: 10px;
	margin-left: 9px;
	transform: rotate(90deg);
}

@media (max-width: 992px) {
	.footer {
		display: none;
	}
}

/* Second section */
	
.product {
	background: #fae8e4;
    width: 100%;
    height: 900px;  
}

.product__container { 
    position: relative;
	max-width: 1400px;
    height: 900px;
	display: flex;
    justify-content: center;
	align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.product__img {
	flex: 1;
	height: 100%;
	position: relative;
}

.product__img-gray {
	position: absolute;
	top: 30%;
	left: 5%;
	max-width: 50%;
	height: auto;
}

.product__img-pink {
	position: absolute;
	top: 35%;
	left:30%;
	max-width: 70%;
	height: auto;
}

.product__wrap {
	flex: 0.5;
	width: 100%;
	height: auto;
}

.product__box {
	padding: 35px;
	max-width: 488px;
	max-height: 600px;
	margin-right: 20px;
	background: #fff;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.title_bag {
	font-size: 40px;
	white-space: nowrap;
	margin: 0;
}

.subtitle_autumncoll {
	font-size: 16px;
	margin: 5px 0 35px;
	opacity: 0.5;
	text-transform: uppercase;
}

.product__text {
	margin: 5px 0 35px;
}

.product__select {
   	display: flex;
	justify-content: space-between;
    align-items: center;
	margin-bottom: 35px;
}

.product__select-color {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 156px;
	height: 30px;
    cursor: pointer;
}

.select__item{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.select__item_checked {
	width: 38px;
    height: 38px;
}

.select__item_grey{
    background-color: #dedede;
}

.select__item_pink{
    background-color: #f29f9f;
}

.select__item_blue{
    background-color: #a8bff9;
}

.select__item_green{
    background-color: #90bd8f;
}


.product__buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.product__number {
	margin-right: 13px;
}

.product__input {
	text-align: center;
	border: none;
	width: 30px;
}

.button_add {
	width: 100%;
}

.product__link {
	margin-top: 35px;
	cursor: pointer;
}

.product__link::after{
	content: "";
	display: inline;
	position: absolute;
	margin: 3px 7px 0;
	min-width: 180px;
    height: 12px;
	background-image: url(../img/Vector%202.2.svg);
	background-repeat: no-repeat;
	background-position: right;
}

@media (max-width: 992px) {
	.product__container {
		display: flex;
		flex-flow: column;
		align-items: center;
	}
	
	.product__img-pink {
        width: 100%;
        top: 10%;
		left: 10%;
		position: relative;
	}
	
	.product__wrap {
		display: flex;
		align-items: center;
		justify-content: center;
    }
  
    .product__box {
      margin: 0 20px 20px;
    }
	
		
	.subtitle_autumncoll {
		margin-top: 20px;
	}
	
	.product__number,
	.product__img-gray,
	.product__link {
		display: none;
	}
}

@media (max-width: 480px) {
  .product__wrap{
    position: absolute;
    top: 40%;
  }
  
  .product__box{
     width: 280px;
     padding: 20px;
  }
  
  .title_bag {
    font-size: 30px;
  }
}

/*Third section*/

.look {
	width: 100%;
	height: 900px;
	background: linear-gradient(to right, #EBE3D8 326px, #000 326px, #000 400px, #EBE3D8 400px);
}

.look__container {
    position: relative;
    max-width: 1400px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.look__img {
	position: relative;
    right: 15%;
	width: 60%;
	height: auto;
	
}

.look__img-main {
	width: 100%;
	height: auto;
}

.look__wrap {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: absolute;
	left: 60%;
	margin-right: 25px;
}

.look__box {
	display: flex;
	flex-direction: column;
	margin-bottom: 35px;
	padding: 35px;
	background: #FAE8E4;
	max-width: 100%;
    height: auto;
}

.title_totallook {
	margin: 0;
	white-space: nowrap;
}

.look_desc {
	margin: 5px 0 35px;
}

.look__buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.look__number {
	margin-right: 13px;
}

.look__input {
	background: #FAE8E4;
	text-align: center;
	border: none;
	width: 30px;
}

.look__add {
	width: 100%;
}

.look__link::after {
	content: "";
	display: inline;
	position: absolute;
	margin: 3px 7px 0;
	width: 108px;
	height: 12px;
	background-image: url(../img/Vector%202.3.svg);
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 1150px) {
	
    .look {
       background: -webkit-linear-gradient(left, #EBE3D8 150px, #000 150px, #000 190px, #EBE3D8 190px);
       background: -o-linear-gradient(left, #EBE3D8 150px, #000 150px, #000 190px, #EBE3D8 190px);
       background: linear-gradient(to right, #EBE3D8 150px, #000 150px, #000 190px, #EBE3D8 190px);
  }
    .look__container {
       height: 900px;
       width: 100%;
       display: flex;
       flex-flow: column nowrap;
       justify-content: center;
       align-items: center;
       position: relative;
	}
	
	.look__img {
    	width: 70%;
        right: 0;
        bottom: 15%;
	}
	
	.look__wrap {
		position: absolute;
		top: 60%;
		left: 23%;
		width: 55%;
		margin: 0;
    }
    .look__title{
      font-size: 30px;
    }
	.look__number {
      display: none;
	}
}

@media (max-width: 900px) {
    .look__img {
      width: 75%;
      bottom: 20%;
  }
    .look__wrap {
      top: 52%;
  }
}
	
@media (max-width: 720px) {
    .look__img {
      width: 80%;
  }
  
	.look__wrap {
      top: 48%
  }
	
	.look__link {
      align-self: flex-end;
      position: relative;
      font-size: 15px;
	  width: 140px;
	  height: 58px;
	  padding-bottom: 15px;
  }
	
	.look__link::after {
      right: 17%;
	  top: 50%;
  }
}

@media (max-width: 560px) {
  
   .look__img {
      width: 85%;
      bottom: 20%;
  }
  
    .look__wrap {
      top: 43%;
  }
  
    .look__title{
      font-size: 25px;
  }
}

@media (max-width: 430px) {
  .look {
background: -webkit-linear-gradient(left, #EBE3D8 70px, #000 70px, #000 120px, #EBE3D8 120px);
background: -o-linear-gradient(left, #EBE3D8 70px, #000 70px, #000 120px, #EBE3D8 120px);
background: linear-gradient(to right, #EBE3D8 70px, #000 70px, #000 120px, #EBE3D8 120px);
  }
  
  .look__img {
      width: 90%;
      bottom: 20%;
  }
    .look__wrap {
      width: 60%;
      top: 40%;
  }
    
    .look__box {
      padding: 20px;
  }
  
    .look__title{
      font-size: 22px;
  }
    
    .subtitle_autumncoll {
      font-size: 14px;
      white-space: nowrap;
  }
  
    .look__link {
      left: 10%;
  }
}